h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
}
*{
    background-image: url(gym-with-indoor-cycling-equipment_23-2149270210.avif);
    background-repeat: no-repeat;
    background-size: 100%;
}